*{
    margin: 0;
    font-family: "Inter", sans-serif;
}

/* Header Section */
nav{
    display: flex;
    padding: 16px 120px;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 139px;
}


nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size: 16px;
    gap: 32px;
    font-weight: 500;
}

nav li a{
    text-decoration: none;
    color: #000000;
}

nav li a:hover{
    background-color: #469165;
    width: auto;
    padding: 8px 12px;
    border-radius: 30px;
    color: #FFFFFF;
    transition: 0.5s;
}

nav div button{
    width: 164px;
    height: 44px;
    border: none;
    border-radius: 4px;
    padding: 12px 16px;
    gap: 10px;
    background-color: #469165;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    cursor: pointer;
}

nav div button:hover{
    background: linear-gradient(140deg, #FEF48B 18.94%, #FDF286 30.18%, #FDEE7A 41.83%, #FCE765 53.67%, #FCDE48 65.65%, #FBD123 77.6%, #FAC600 87.23%);
    color: #001931;
    transition: 0.5s;
}

/*Landing page image*/
.hero-container{
    margin: auto;
    justify-content: center;
    align-items: center;
    background-image: url(./assets/hero-bg.png);
    width: 100%;
    height: 674px;
    pad: 70px 120px 134px 120px;
    background-repeat: no-repeat;
    background-size: contain;
}

.early{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 115.5px;
}

.early button{
    display: flex;
    width: auto;
    border-radius: 1000px;
    border: none;
    padding: 8px 12px;
    gap: 6px;
    font-size: 16px;
    font-weight: 500;
    color: #276941;
    cursor: pointer;
}

.early button:hover{
    scale: 1.1;
    background: linear-gradient(140deg, #FEF48B 18.94%, #FDF286 30.18%, #FDEE7A 41.83%, #FCE765 53.67%, #FCDE48 65.65%, #FBD123 77.6%, #FAC600 87.23%);
    color: #000000;
    transition: 0.5s;
}

.early button img{
    display: flex;
    width: 16px;
}

.m-text{
    justify-content: center;
    align-items: center;
}

.m-text h1{
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    text-align: center;
    color: #FFFFFF;
    opacity: 90%;
    padding-top: 16px;
}


.m-text span{
    color: #469165;
}


.m-text p{
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 16px;
}

.btn-2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding-top: 32px;
}

.btn-2 button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 251px;
    height: 52px;
    border: none;
    border-radius: 4px;
    padding: 12px 16px;
    gap: 10px;
    background-color: #469165;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.btn-2 button img{
    width: 20px;
}

.btn-2 .white button{
    width: auto;
    border:1px solid #FFFFFF;
    padding: 12px 16px;
    background: transparent;
}

.btn-2 .white button:hover{
    background-color: #469165;
    border: none;
    scale: 1.05;
    transition: 0.5s;
}

.btn-2 .btn-1 button:hover{
    scale: 1.05;
    background:transparent;
    border: 1px solid #FFFFFF;
    width: auto;
    transition: 0.5s;
}
/*Notes Section*/
.notes{
    padding: 120px;
    gap: 44px;
}

.n-text h1{
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    color: #001931;
}

.n-text h5{
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #627382;
    padding-top: 16px;
}

.box{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 24px;
    margin-top: 44px;
}

.box-note{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 322px;
    height: 300px;
    border: none;
    border-radius: 8px;
    padding: 24px;
    gap: 16px;
    box-shadow: 0px 0px 8px 0px #0000000F;;
}

.box-note:hover{
    scale: 1.1;
    background-color: #46916580;
    transition: 0.5s;
}

.circle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    background-color: #F95555;
    padding: 14.4px;
    margin-top: 69.5px;
}
.box img{
    width: 32px;
    height: 32px;
}

.box-note h3{
font-weight: 600;
font-size: 24px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
text-transform: capitalize;
color: #001931;
}

.box-note p{
font-weight: 400;
font-size: 16px;
line-height: 20px;
letter-spacing: 0%;
text-align: center;
color: #627382;
}

/*2nd Brain Section*/
.brain{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1360;
    height: 600;
    gap: 60px;
    opacity: 1;
    padding: 120px;
}

.pic{
    width: 600px;
    height: 600px;
    border-radius: 12px;
}

.pic:hover{
    scale: 1.05;
    transition: 1s;
}
.text{
    width: 700px;
    height: 396px;
    gap: 40px;
    padding: 102px 0px;
    padding-left: 60px;
}

.text h5{
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #469165;
}

.text h1{
    font-weight: 700;
    font-style: Bold;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: capitalize;
    padding-top: 16px;
}

.text h6{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    padding-top: 16px;
}

.text ul{
    padding-top: 40px;
    list-style: none;
    padding-left: 0;
    margin-left: 0
}

.text ul li {
    display: flex;
    align-items: center;
    gap: 6px;
    padding:8px 0px;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    color: #001931;
}

.text ul li:hover{
    scale: 1.04;
    transition: 0.5s;
}

/*Early Access Section*/
.shade{
    height: 506;
    padding-top: 2px;
    padding-right: 120px;
    padding-bottom: 120px;
    padding-left: 120px;
    gap: 40px;
    opacity: 1;
}

.content-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1360;
    height: 384;
    padding: 80px 40px;
    gap: 24px;
    opacity: 1;
    border-radius: 12px;
    background-color: #F7F6F2;
}

.content-box:hover{
    background: linear-gradient(140deg, #FEF48B 18.94%, #FDF286 30.18%, #FDEE7A 41.83%, #FCE765 53.67%, #FCDE48 65.65%, #FBD123 77.6%, #FAC600 87.23%);
}

.content-box h1{
    font-weight: 700;
    font-style: Bold;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
    color: #001931;
}

.content-box p{
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
color: #627382;
}

.btn-3{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.btn-3 button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 194px;
    height: 52px;
    border: none;
    border-radius: 4px;
    padding: 12px 16px;
    gap: 10px;
    background-color: #469165;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.btn-3 button:hover{
    scale: 1.1;
    width: auto;
    transition: 0.5s;
}

.btn-3 button img{
    width: 20px;
}

/*Footer Section*/
footer{
    background-color: #001931;
}
.items{
    display: flex;
    justify-content: space-between;
    padding: 120px;
}

.items img{
    width: 139px;
    height: 60px;
}

.social h6{
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    color: #FFFFFF;
}

.social img{
    width: 20px;
    height: 20px;
    gap: 16px;
    padding-top: 16px;
    padding-right: 10px;
    cursor: pointer;
}

.social img:hover{
    scale: 1.5;
    transition: 0.1s;
}

.copywrite {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.line{
    width: 1360px;
    height: 1px;
    opacity: 0.2;
    border-width: 1px;
    background-color: #FFFFFF;
    margin-bottom: 30px;
}

.copywrite h6{
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
color: #FAFAFA;
padding-bottom: 30px;
}