*{
    margin: 0;
    font-family: "Inter", sans-serif;
}

/* Header Section */
nav{
    display: flex;
    padding: 16px 120px;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 139px;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size: 16px;
    gap: 32px;
    font-weight: 500;
}

nav li a{
    text-decoration: none;
    color: #000000;
}

nav div button{
    width: 164px;
    height: 44px;
    border: none;
    border-radius: 4px;
    padding: 12px 16px;
    gap: 10px;
    background-color: #469165;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
}

/*Landing page image*/
.hero-container{
    margin: auto;
    justify-content: center;
    align-items: center;
    background-image: url(./assets/hero-bg.png);
    width: 100%;
    height: 674px;
    pad: 70px 120px 134px 120px;
    background-repeat: no-repeat;
    background-size: cover;
}

.early{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 115.5px;
}

.early button{
    display: flex;
    width: auto;
    border-radius: 1000px;
    border: none;
    padding: 8px 12px;
    gap: 6px;
    font-size: 16px;
    font-weight: 500;
    color: #276941;
}

.early button img{
    display: flex;
    width: 16px;
}

.m-text{
    justify-content: center;
    align-items: center;
}

.m-text h1{
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    text-align: center;
    color: #FFFFFF;
    opacity: 90%;
    padding-top: 16px;
}

.m-text span{
    color: #469165;
}

.m-text p{
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 16px;
}

.btn-2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding-top: 32px;
}

.btn-2 button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 251px;
    height: 52px;
    border: none;
    border-radius: 4px;
    padding: 12px 16px;
    gap: 10px;
    background-color: #469165;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
}

.btn-2 button img{
    width: 20px;
}


/*Notes Section*/
.notes{
    padding: 120px;
    gap: 44px;
}

.n-text h1{
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    color: #001931;
}

.n-text h5{
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #627382;
    padding-top: 16px;
}

.box{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 24px;
    margin-top: 44px;
}

.box-note{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 322px;
    height: 300px;
    border: none;
    border-radius: 8px;
    padding: 24px;
    gap: 16px;
    box-shadow: 0px 0px 8px 0px #0000000F;;
}

.circle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    background-color: #F95555;
    padding: 14.4px;
    margin-top: 69.5px;
}
.box img{
    width: 32px;
    height: 32px;
}

.box-note h3{
font-weight: 600;
font-size: 24px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
text-transform: capitalize;
color: #001931;
}

.box-note p{
font-weight: 400;
font-size: 16px;
line-height: 20px;
letter-spacing: 0%;
text-align: center;
color: #627382;
}